.box{
    width: 200px;
    height: 200px;
    background:url(./img/ava.png) center/cover;
    /* clip-path: circle(50%); */
    /* Các tiếp theo điền thông số */
    /* clip-path: circle(50% at 40% 70%); */
    /* Tính bán kính của hình tròn : 
    radius =(50% *max(width,height))
    Xác định giá trị của max(with,height) từ kích thước đã cho.
    Trong trường hợp này, .box có with: 200px và height:500px
    Vì vậy max(width,height) = 500px.
    Tiến hành tính toán bán kính của hình tròn:display:
    radius = (50% * 500px) = 250px
    Vậy trong trường hợp này giá trị 50% tương ứng với 250px;
    */
    /* Sử dụng inser */
    clip-path: inset(20px );
    clip-path: inset(20px 50px );
    clip-path: inset(20px 50px 80px );
    clip-path: inset(20px 50px 80px 30px);
    clip-path: inset(20px round 15px 50px 80px 15px);
    clip-path: polygon(0 0,100% 0, 100% 0, 100% 100%, 50% 80% ,0 100%);
    border-radius: 15px;

}